<html>
<head>
    <title></title>
</head>
<body>
    <div class="modalSteps">
        <div id="modal" class="modalStep activeModalStep">
	        <div class="plan-selected-status">
		        <div class="row-fluid">
			        <div class="span12">					
                        <p>Groups of more than 100 are considered to be large groups. This website does not provide information about products in the large group market. Please provide an insurance carrier or an insurance professional for information about large group products.</p>
			        </div>
		        </div>
	        </div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
	        <div class="ui-dialog-buttonset">
		        <!--<button id="bttnBack" class="btn btn-secondary" type="button" role="button" aria-disabled="false"><span class="ui-button-text">No, select another plan</span> </button>-->
		        <!--<button id="bttnOk" class="btn btn-primary modal-close" type="button" role="button" aria-disabled="false"><span class="ui-button-text">Ok</span> </button>-->
                <button id="bttnOk" class="btn btn-primary modal-close" type="button" role="button" aria-disabled="false">Ok</button>
	        </div>
        </div>
    </div>
</body>
</html>