<html>
<head>
    <title></title>
</head>
<body>
    <div class="modalSteps">
        <div id="modal" class="modalStep activeModalStep">
	        <div class="plan-selected-status">
		        <div class="row-fluid">
			        <div class="span12">					
                        <p>Special rules about allowable group size may apply in your state. Check with your state’s department of Insurance or your insurance carrier to confirm your eligibility for the small group market if you have fewer than two or more than 50 employees.</p>
			        </div>
		        </div>
	        </div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
	        <div class="ui-dialog-buttonset">
		        <!--<button id="bttnBack" class="btn btn-secondary" type="button" role="button" aria-disabled="false"><span class="ui-button-text">No, select another plan</span> </button>-->
		        <!--<button id="bttnOk" class="btn btn-primary modal-close empcntles" type="button" role="button" aria-disabled="false"><span class="ui-button-text empcntles">Ok</span> </button>-->
                <button id="bttnOk" class="btn btn-primary modal-close" type="button" role="button" aria-disabled="false">Ok</button>
	        </div>
        </div>
    </div>
</body>
</html>