<div id="home-content">
	<div>
	    <h1>Welcome to Plan Finder</h1>
	    <p>This Plan Finder website is provided by the federal government to help you find private health plans available outside the Health Insurance Marketplace. We want you to find health insurance that best fits your budget and meets your needs.</p>
        <p>Often, that insurance will be available in the Marketplace. But additional health plans are offered outside the Marketplace. You might want to explore these options too. This Plan Finder helps you do that.</p>
	    <hr class="grayRule" aria-hidden="true" noshade/>
    </div>

	<div class="article">
		<div class="span7">
			<h2 class="header-bold">Important notes you need to know</h2>
            <div>
                <strong>You can’t get lower costs based on your income if you buy a plan listed on the Plan Finder.</strong> You can only get these lower costs in plans in the Marketplace. To see if you can get lower costs based on your income, <a href="http://www.healthcare.gov/marketplace/individual" title="Link to external site" target="_blank">Create a Marketplace account<span class='HiddenText'>Opens in new window</span></a>.
            </div>
            <p></p>
            <div>
                <strong>Any new health insurance plan listed on Plan Finder qualifies as coverage under the health care law.</strong> If you’re covered by one of these plans, you won’t have to pay the fee that people without coverage must pay.
            </div>
		</div>

		<div class="span5 splash-img-container">
			<img src="/img/splash-landing.jpg" alt="" />
		</div>
		
		<p><strong>Which best describes you?</strong></p>
		<p class="landing-btn-container">
			<a href="#plansHome" id="btn-plansHome"  class="btn btn-primary btn-large" role="button">I am seeking coverage for Myself or My Family</a>
			<a href="#productsHome" id="btn-productsHome"  class="btn btn-primary btn-large" role="button">I am seeking coverage for My Employees </a>
			<div class="spacer"></div>
		</p>

		<p class="text-disclaimer">			
			Your privacy is protected. Read our <a href="https://www.healthcare.gov/privacy/" title="Link to external site" target="_blank"><strong>privacy policy</strong><span class='HiddenText'>Opens in new window</span></a>. Your answers are used by HealthCare.gov only to help generate your insurance options. 
			The site does not keep this information. It deletes the information after your visit is done.
		</p>
	
	</div>

</div>