<p:IndividualPlanBenefitRequest xmlns:p="http://rbis.cms.org/api" xmlns:p1="http://rbis.cms.org/api-types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://rbis.cms.org/api IndividualPlanBenefitRequest.xsd">
<p:Enrollees>
	<p1:Primary>
      		<p1:DateOfBirth>1979-10-03</p1:DateOfBirth>
      		<p1:Gender>Male</p1:Gender>
      		<p1:TobaccoUser>Smoker</p1:TobaccoUser>
    	</p1:Primary>
</p:Enrollees>
<p:Location>
  	<p1:ZipCode>20171</p1:ZipCode> 
	<!--p1:County>
		<p1:CountyName>MERCED</p1:CountyName> 
		<p1:StateCode>CA</p1:StateCode> 
	</p1:County--> 
</p:Location>
<p:InsuranceEffectiveDate>2013-10-01</p:InsuranceEffectiveDate> 
<p:PlanIDs>
	<p:PlanID>50727VA0260009</p:PlanID>
	<p:PlanID>16064VA0190005</p:PlanID> 
</p:PlanIDs>
</p:IndividualPlanBenefitRequest>