<!--<div class="title-print-header">
	<h1 class="headersmall header-bold" style="visibility:hidden"> 0 Insurance Plans</h1>
	<a href="#" class="btn btn-small btn-print" onclick="window.print(); return false" role="button"><i class="icon-print" aria-hidden="true"></i>Print</a>
</div>
-->
<div class="compare-no-items article"> 
    <p>Your search returned zero products.<br />
    Please verify and change your <b><a href="javascript:void(0);" title="Product Search" class="searchOptions"><span class="searchOptions">search criteria.</span></a></b></p>
</div>