<button class="btn btn-small btn-print-results" onclick="javascript:window.print();"><i class="icon-print" aria-hidden="true"></i>Print</button>
<h2 class="filter-top-header">Narrow Your Results</h2>
<h3 class="filter-section-header">Cost Aspects</h3>
<!-- start network oop -->
<div id="ooplimit_title" class="filter-title-container">
    <h4 class="collapseTitle">In-Network Out-of-Pocket Limit (Annually)</h4>
</div>
<!---expand collaps markup--->
<div class="expcol-container filter-expcoll filter-expcoll-2line">
    <a href="javascript:void(0);" class="expcol-trigger" onclick="funcExpCol(this.target);return false;" target="ooplimit" data-name="In-Network Out-of-Pocket Limit (Annually)" title="collapse">
        <span class='HiddenText'>In-Network Out-of-Pocket Limit (Annually) </span>Close<span aria-hidden="true">-</span></a>
</div>
<div class="clearBoth">
</div>
<div id="ooplimit" class="filter-section ooplimit">
    <% if(filteredparams.ooplimit) { %>
    <div class="collapseText filter-section-entry">
        <a class="filters" href="javascript:void(0);" url="ooplimit=" title="Show All In-Network Out-Of-Pocket Limits">
            Show All In-Network Out-Of-Pocket Limits</a></div>
    <% } %>
    <ul class="filterlinks">
    <% for(var i = 0 ; i < filters.inNetworkOutofPocketLimit.length; i++){  %>
        <li><div class="collapseTextCollapsed filter-section-entry">
            <a class="filters" href="javascript:void(0)" url="ooplimit=<%=filters.inNetworkOutofPocketLimit[i].Filter %>" title="<%= filters.inNetworkOutofPocketLimit[i].Filter %>">
            <%= (filters.inNetworkOutofPocketLimit[i].Filter.indexOf('and-above') > 0)? helper.addCommas(filters.inNetworkOutofPocketLimit[i].Filter.replace("-and-above"," and above ")) : helper.addCommas(filters.inNetworkOutofPocketLimit[i].Filter.replace("-"," to "))  %> (<%= filters.inNetworkOutofPocketLimit[i].Quantity %>)</a></div>
      </li>
    <% } %>
    </ul>
</div>
<!-- end network oop -->
<!-- Start Annual Deductible -->
<div id="annded_title" class="filter-title-container">
    <h4 class="collapseTitle">
        Annual Deductibles</h4>
</div>
<!---expand collaps markup--->
<div class="expcol-container filter-expcoll">
    <a href="#" class="expcol-trigger" onclick="funcExpCol(this.target);return false;"
        target="annded" data-name="Annual Deductibles" title="collapse"><span class='HiddenText'>
            Annual Deductibles </span>Close <span aria-hidden="true">-</span></a>
</div>
<div class="clearBoth">
</div>
<div id="annded" class="filter-section annded">
    <% if(filteredparams.annded) { %>
    <div class="collapseText filter-section-entry">
        <a class="filters" href="javascript:void(0)" url="annded=" title="Show All Annual Deductible Limits">
            Show All Annual Deductible Limits</a></div>
    <% } %>
    <ul class="filterlinks">
    <% for(var i = 0 ; i < filters.annualDeductibles.length; i++){  %>
        <li><div class="collapseTextCollapsed filter-section-entry">
        <a class="filters" href="javascript:void(0)" url="annded=<%=filters.annualDeductibles[i].Filter %>"  title="<%= filters.annualDeductibles[i].Filter %>">
            <%= (filters.annualDeductibles[i].Filter.indexOf('and-above') > 0)? helper.addCommas(filters.annualDeductibles[i].Filter.replace("-and-above"," and above ")) : helper.addCommas(filters.annualDeductibles[i].Filter.replace("-"," to ")) %> (<%= filters.annualDeductibles[i].Quantity %>)</a></div>
         </li>
    <% } %>
    </ul>
</div>
<!-- End Annual Deductible -->
<!-- Start Base Rate -->
<div id="baserate_title" class="filter-title-container">
    <h4 class="collapseTitle">
        Estimated Monthly <br />Base Rate</h4>
</div>
<div class="expcol-container filter-expcoll filter-expcoll-2line">
    <a href="#" class="expcol-trigger" onclick="funcExpCol(this.target);return false;"
        target="baserate" data-name="Estimated Monthly Base Rate" title="collapse"><span
            class='HiddenText'>Estimated Monthly Base Rate </span>Close <span aria-hidden="true">
                -</span></a>
</div>
<div class="clearBoth">
</div>
<div id="baserate" class="filter-section baserate">
    <% if(filteredparams.baserate) { %>
    <div class="collapseText filter-section-entry">
        <a class="filters" href="javascript:void(0)" url="baserate=" title="Show All Estimated Monthly Base Rate Limits">
            Show All Estimated Monthly Base Rate Limits</a></div>
    <% } %>
    <ul class="filterlinks">
    <% for(var i = 0 ; i < filters.estimatedMonthlyBaseRate.length; i++){  %>
    <li><div class="collapseTextCollapsed filter-section-entry">
        <a class="filters" href="javascript:void(0)" url="baserate=<%=filters.estimatedMonthlyBaseRate[i].Filter %>" title="<%= filters.estimatedMonthlyBaseRate[i].Filter %>">
            <%= (filters.estimatedMonthlyBaseRate[i].Filter.indexOf('and-above') > 0)? helper.addCommas(filters.estimatedMonthlyBaseRate[i].Filter.replace("-and-above"," and above ")): helper.addCommas(filters.estimatedMonthlyBaseRate[i].Filter.replace("-"," to ")) %> (<%= filters.estimatedMonthlyBaseRate[i].Quantity %>)</a></div>
    </li>
    <% } %>
    </ul>
</div>
<!-- End Base Rate -->
<h3 class="filter-section-header">
    Insurance Details</h3>
<!-- Doctors Choice -->
<div id="providers_title" class="filter-title-container">
    <h4 class="collapseTitle">
        Doctor Choice</h4>
</div>
<div class="expcol-container filter-expcoll">
    <a href="#" class="expcol-trigger" onclick="funcExpCol(this.target);return false;"
        target="providers" data-name="Doctor Choice" title="collapse"><span class='HiddenText'>
            Doctor Choice </span>Close <span aria-hidden="true">-</span></a>
</div>
<div class="clearBoth">
</div>
<div id="providers" class="filter-section providers">
    <% if(filteredparams.ptype) { %>
    <div class="collapseText filter-section-entry">
        <a class="filters" href="javascript:void(0)" url="ptype=" title="Show All Doctor Choices">
            Show All Doctor Choices</a></div>
    <% } %>
    <ul class="filterlinks">
    <% for(var i = 0 ; i < filters.doctorChoice.length; i++){  %>
        <li><div class="collapseTextCollapsed filter-section-entry">
        <a class="filters" href="javascript:void(0)" url="ptype=<%=filters.doctorChoice[i].Filter %>" title="<%= filters.doctorChoice[i].Filter %>">
            <%= filters.doctorChoice[i].Filter %> (<%= filters.doctorChoice[i].Quantity %>)</a></div>
         </li>
    <% } %>
    </ul>
</div>
<!-- End Doctors Choice -->
<!-- Start Additional features -->
<div id="addfeatures_title" class="filter-title-container">
    <h4 class="collapseTitle">
        Additional Features</h4>
</div>
<div class="expcol-container filter-expcoll">
    <a href="#" class="expcol-trigger" onclick="funcExpCol(this.target);return false;"
        target="addfeatures" data-name="Additional Features" title="collapse"><span class='HiddenText'>
            Additional Features </span>Close <span aria-hidden="true">-</span></a>
</div>
<div class="clearBoth">
</div>
<div id="addfeatures" class="filter-section addfeatures">
    <% if(filteredparams.adftrs) { %>
    <div class="collapseText filter-section-entry">
        <a class="filters" href="javascript:void(0)" url="adftrs=" title="Show All Additional Features">
            Show All Additional Features</a></div>
    <% } %>
    <ul class="filterlinks">
    <% for(var i = 0 ; i < filters.additionalFeatures.length; i++){  if(filteredparams.adftrs) { %>
        <% if(filteredparams.adftrs.toLowerCase() === filters.additionalFeatures[i].name.toLowerCase() ) { %>
        <li><div class="collapseTextCollapsed filter-section-entry">
            <a class="filters" href="javascript:void(0)" url="adftrs=<%=filters.additionalFeatures[i].name %>" title="<%= filters.additionalFeatures[i].name %>">
                <%= filters.additionalFeatures[i].name %> (<%= filters.additionalFeatures[i].Quantity %>)</a></div>
        </li>
        <% } } else{ %>
        <li><div class="collapseTextCollapsed filter-section-entry">
            <a class="filters" href="javascript:void(0)" url="adftrs=<%=filters.additionalFeatures[i].name %>" title="<%= filters.additionalFeatures[i].name %>">
                <%= filters.additionalFeatures[i].name %> (<%= filters.additionalFeatures[i].Quantity %>)</a></div>
        </li>
        <%}  } %>
    </ul>
</div>
<!-- End Additional features -->
<!-- Start Annual max Benefits -->
<div id="annmaxben_title" class="filter-title-container">
    <h4 class="collapseTitle">
        Annual Maximum Benefits</h4>
</div>
<div class="expcol-container filter-expcoll filter-expcoll-2line">
    <a href="#" class="expcol-trigger" onclick="funcExpCol(this.target);return false;"
        target="annmaxben" data-name="Annual Maximum Benefits" title="collapse"><span class='HiddenText'>
            Annual Maximum Benefits </span>Close <span aria-hidden="true">-</span></a>
</div>
<div class="clearBoth">
</div>
<div id="annmaxben" class="filter-section annmaxben">
    <% if(filteredparams.maxben) { %>
    <div class="collapseText filter-section-entry">
        <a class="filters" href="javascript:void(0)" url="maxben=" title="Show All Annual Maximum Benefit Limits">
            Show All Annual Maximum Benefit Limits</a></div>
    <% } %>
    <ul class="filterlinks">
    <% for(var i = 0 ; i < filters.annualMaximumBenefits.length; i++){  %>
    <li><div class="collapseTextCollapsed filter-section-entry">
        <a class="filters" href="javascript:void(0)" url="maxben=<%=filters.annualMaximumBenefits[i].Filter %>" title="<%= filters.annualMaximumBenefits[i].Filter %>">
            <%= (filters.annualMaximumBenefits[i].Filter.indexOf('and-above') > 0)? helper.addCommas(filters.annualMaximumBenefits[i].Filter.replace("-and-above"," and above ")) : helper.addCommas(filters.annualMaximumBenefits[i].Filter.replace("-"," to ")) %> (<%= filters.annualMaximumBenefits[i].Quantity %>)</a></div>
    </li>
    <% } %>
    </ul>
</div>
<!-- End Annual max Benefits -->
<!-- Start Issuers -->
<fieldset class="filter-inputs">
    <div id="companies_title" class="filter-title-container">
        <h4 class="collapseTitle">
            <legend>Show Companies</legend>
        </h4>
    </div>
    <div class="expcol-container filter-expcoll">
        <a href="javascript:void(0);" class="expcol-trigger" onclick="funcExpCol(this.target);return false;"  target="companies" data-name="Show Companies" title="collapse">
        <span class='HiddenText'>Show Companies </span>Close <span aria-hidden="true">-</span></a>
    </div>
    <div class="clearBoth">
    </div>

   <div id="companies" class="filter-section companies">
        <fieldset>
        <legend class="HiddenText">Select Companies to narrow your results</legend>
            <input type="checkbox" id="checkall" class="filters" <%- (filteredparams.companies)?"":"checked" %>   url="companies=" />
            <label for="checkall" class="filters" url="companies=">Show All Companies</label>
            <% for(var i = 0 ; i < filters.showCompanies.length; i++) {%>
		        <div class="collapseTextCollapsed">
                <input  type="checkbox" id="<%-filters.showCompanies[i].IssuerID%>" class="filters" <%- (filteredparams.companies && filteredparams.companies.indexOf(filters.showCompanies[i].IssuerID) > -1 ) ? "checked":"" %> url="companies=<%=filters.showCompanies[i].IssuerID %>" />
                    <label for="<%- filters.showCompanies[i].IssuerID %>" class="filters" url="companies=<%=filters.showCompanies[i].IssuerID %>">
                        <%= filters.showCompanies[i].IssuerName %> (<%= filters.showCompanies[i].Quantity %>)
                    </label>
                </div>
	        <%} %>
                                    
        </fieldset>
    </div>
</fieldset>
<!-- End Issuers -->
<!-- End filters-->
<div class="dividerSmall">
</div>
<div class="updateStatmentBox">
    <!--<p >-->
    <h2>
        3 Things to Know</h2>
    <ul>
        <li type="disc" style="font-size: medium">We only list products submitted by insurers
            with information they certify as accurate.</li>
        <li type="disc" style="font-size: medium">All insurers update their information on a
            regular basis.</li>
        <li type="disc" style="font-size: medium">Please contact the insurer for actual monthly
            costs.</li>
    </ul>
    <!--</p>-->
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#companies input').focus(function () { 
			$(window).scrollTop($(this).offset().top - 100)
		});
	});

</script>