<div class="title-print-header">
	<h1>Plan Details</h1>
	<a href="#" class="btn btn-small btn-print" onclick="window.print(); return false" role="button"><i class="icon-print" aria-hidden="true"></i>Print</a>
</div>
<div id="blueTop">
    
    <div id="blueContainer">
        
        <div id="WhiteContainerLayout">
            
            <div class="detailBox clear article">
                <div class=" article-no-padding">
	                <div>
		                <div class="indexCardHeader">
			                <div class="indexTitle">
				                <div class="planName planNameDetails">
                                    <h2 href="javascript:void(0);" planid="<%= model.planID %>" class="planDetailsButton darkBlueText" title="Plan Title"><%= model.planNameText %></h2>
                                </div>
                                <div class="contactCompany "><%= model.issuerNameText%>
                                </div>
			                </div>
                            <div class="SBCButton ">                            
                                <%if (model.SBC.uRLCode !== "No Link"){ %>
                                 <a href="<%=model.SBC.uRLAddress %>" class="btn btn-primary sumBenefitsCoverage forceDisplay" target="_blank" title="Summary of Benefits And Coverage" role="button" >Summary of Benefits&#13;&#10; &amp; Coverage</a>
                                <%} %>
                            </div>
                            <div class="insurContactBox">
                                <!--Overall div for contact box, floated right-->
                                <div class="spacer">
                                </div>
                                <div class="insurContactBoxMiddle">
                                    <div class="insurPhone topSmallText">
                                        <div class="insur800num topSmallText">
                                            <%= (model.issuerTollFreeNumber === model.issuerLocalNumber) ?  model.issuerLocalNumber : model.issuerTollFreeNumber +', '+ model.issuerLocalNumber %>
                                        </div>
                                        <% if (model.issuerTTYNumber != null && model.issuerTTYNumber != "") {%>
                                        <div class="insur800num topSmallText">
                                            TTY:<%= model.issuerTTYNumber %></div>
                                        <%} %>
                                        </div>
                                        <div class="leftSide bold blue">
                                            <% if(model.IssuerURL.uRLCode == "Valid") { %>
                                            <div class="externalLink">
                                            <!--<span class="tableText">-->                                            <a id="A1" class=" noDecoration planTitle" href="<%=model.IssuerURL.uRLAddress %>" target="_blank" title="Visit the Website">View website
                                                </a>
                                                <!--</span>-->
                                                </div>
                                                <div>
                                                <a href="http://www.cms.gov/goodbye.asp" target="_blank" class="print-hide" title="External Link Policy">
                                                <i class="icon-new_window new-window-i" aria-hidden="true"><span class="HiddenText">External Web Site Policy - opens in a new window</span></i></a>
                                                </div>
                                            
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="insurContactBoxBottom">
                                </div>
                            </div>
			                <div class="indexCompare">
				
				                <!---hidden complare link-------
				                <span  class="planCompareHidden"><a href="javascript:void(0);" class="planCompare" title="Click to compare">Click to Compare</a></span>
				                -->
			
			                </div>

			                <div class="indexDetails"></div>
			                <div class="spacer"></div>
                            <br />
		                </div>
                        <div class="indexCardBody">
			                <div class="indexBodyCol">
				                <div class="indexBodyColInner">
					                <p>
                                        <b>
                                            <a href="javascript:void(0);" data-name="<%= model.planID %>_Estimated-Monthly-Base-Rate" aria-describedby="<%= model.planID %>_Estimated-Monthly-Base-Rate" class="contextualHelp" title="">
                                            Estimated Monthly Base Rate</a>
                                            <span id="<%= model.planID %>_Estimated-Monthly-Base-Rate" class="HiddenText" aria-hidden="true"></span>
                                        </b>
                                    </p>
					                <span class="planText bold indexLargeFont">$<%=model.baseRateAmount %></span>/mo.
				                </div>
			                </div>
                            <div class="indexBodyCol">
				                <div class="indexBodyColInner">
					                <p>
                                        <b>
                                            <a href="javascript:void(0);" data-name="<%= model.planID %>_In-Network-Out-of-Pocket-Limit" aria-describedby="<%= model.planID %>_In-Network-Out-of-Pocket-Limit" class="contextualHelp" title="In-Network Out-of-Pocket Limit">
                                            In-Network Out-of-Pocket Limit</a>
                                            <span id="<%= model.planID %>_In-Network-Out-of-Pocket-Limit" class="HiddenText" aria-hidden="true"></span>
                                        </b>
                                    </p>
					                <p class="planText">
							            Individual<br /><span class="bold indexLargeFont">
                                         <%= model.InNetworkCostSharing.individualAnnualOOPLimitAmount %></span>
                                    </p>
                                    <p class="planText">
							            Family<br /><span class="bold indexLargeFont">
                                         <%= model.InNetworkCostSharing.familyAnnualOOPLimitAmount %></span>
                                    </p>
				                </div>
			                </div>
                            <div class="indexBodyCol">
				                <div class="indexBodyColInner">
					                <p>
                                        <b>
                                            <a href="javascript:void(0);" data-name="<%= model.planID %>_Annual-Deductible-For-Plan" aria-describedby="<%= model.planID %>_Annual-Deductible-For-Plan" class="contextualHelp" title="Annual Deductible">
                                            Annual Deductible</a>
                                            <span id="<%= model.planID %>_Annual-Deductible-For-Plan" class="HiddenText" aria-hidden="true"></span>
                                        </b>
                                   </p>
                                    <p class="planText">
							            Individual<br /><span class="bold indexLargeFont">
                                         <%= model.InNetworkCostSharing.individualAnnualDeductibleAmount %></span>
                                         </p>
                                    <p class="planText">
							            Family<br /><span class="bold indexLargeFont">
                                         <%= model.InNetworkCostSharing.familyAnnualDeductibleAmount %></span>
                                     </p>
				                </div>
                            </div>
                            <div class="indexBodyCol">
		                        <div class="indexBodyColInner">
					                <p><b class="nonContextualHelp">Annual Maximum Benefits</b></p>
                                    <p class="planText">
							            Individual<br /><span class="bold indexLargeFont">
                                         <%=model.InNetworkCostSharing.individualAnnualMaxBenefitAmount %></span>
                                    </p>
                                    <p class="planText">
							            Family<br /><span class="bold indexLargeFont">
                                         <%=model.InNetworkCostSharing.individualAnnualMaxBenefitAmount %></span>
                                    </p>
				                </div>
		                    </div>
			                <div class="spacer"></div>
		                </div>
                        <div class="indexCardFooter standardBottomMargin">
			                <div class="indexFooterCol col-plan3">
				               <b><a href="javascript:void(0);" data-name="<%= model.planID %>_Doctor-Choice" class="contextualHelp" aria-describedby="<%= model.planID %>_Doctor-Choice" title="Doctor Choice">
                                    Doctor Choice:</a></b><span id="<%= model.planID %>_Doctor-Choice" class="HiddenText" aria-hidden="true"></span>
                               <p class="planText" style="margin-top: 0px;"><%=model.providerType %>
							   <% if (model.providerType ==="PPO"){ %>
					                <a href="javascript:void(0);" data-name="<%= model.planID %>_Provider-Type-PPO" aria-describedby="<%= model.planID %>_Provider-Type-PPO" class="contextualHelp icon-circle_question_mark compare-question-mark contextualHelpIcon" title="Info on PPO"><span class="HiddenText" aria-hidden="false">Info on PPO</span></a><span id="<%= model.planID %>_Provider-Type-PPO" class="HiddenText" aria-hidden="true"></span>
					                <%} else if (model.providerType ==="HMO"){ %>
					                <a href="javascript:void(0);" data-name="<%= model.planID %>_Provider-Type-HMO" aria-describedby="<%= model.planID %>_Provider-Type-HMO" class="contextualHelp icon-circle_question_mark compare-question-mark contextualHelpIcon" title="Info on HMO"><span class="HiddenText" aria-hidden="false">Info on HMO</span></a><span id="<%= model.planID %>_Provider-Type-HMO" class="HiddenText" aria-hidden="true"></span>
					                <%} else if (model.providerType ==="INDEMNITY"){ %>
					                <a href="javascript:void(0);" data-name="<%= model.planID %>_Provider-Type-INDEMNITY" aria-describedby="<%= model.planID %>_Provider-Type-INDEMNITY" class="contextualHelp icon-circle_question_mark compare-question-mark contextualHelpIcon" title="Info on INDEMNITY"><span class="HiddenText" aria-hidden="false">Info on INDEMNITY</span></a><span id="<%= model.planID %>_Provider-Type-INDEMNITY" class="HiddenText" aria-hidden="true"></span>
					                <%} else if (model.providerType ==="POS"){ %>
					                <a href="javascript:void(0);" data-name="<%= model.planID %>_Provider-Type-POS" aria-describedby="<%= model.planID %>_Provider-Type-POS" class="contextualHelp icon-circle_question_mark compare-question-mark contextualHelpIcon" title="Info on POS"><span class="HiddenText" aria-hidden="false">Info on POS</span></a><span id="<%= model.planID %>_Provider-Type-POS" class="HiddenText" aria-hidden="true"></span>
					                <%} else if (model.providerType ==="EPO"){ %>
					                <a href="javascript:void(0);" data-name="<%= model.planID %>_Provider-Type-EPO" aria-describedby="<%= model.planID %>_Provider-Type-EPO" class="contextualHelp icon-circle_question_mark compare-question-mark contextualHelpIcon" title="Info on EPO"><span class="HiddenText" aria-hidden="false">Info on EPO</span></a><span id="<%= model.planID %>_Provider-Type-EPO" class="HiddenText" aria-hidden="true"></span>
					                <%} else {%>
					                <%= model.providerType %>
					                <%} %>
				               </p>
			               </div>
                           <div class="indexFooterCol col-plan3">
				                <b>Prescription Coverage:</b>
				                <p class="planText" style="margin-top: 0px;">
						            <%=model.prescriptionInNetworkCoverageIndicator %>
				                </p>
			                </div>
                            <div class="indexFooterCol col-plan3 placeRight">
				                <b><a href="javascript:void(0);" data-name="<%= model.planID %>_Denied-Applications" class="contextualHelp" title="How many applications are denied?">
                                    How many applications are denied?<span id="<%= model.planID %>_Denied-Applications" class="HiddenText"></span>
                                    </a></b><br/>
				                    <p class="planText" style="margin-top: 0px;">
					                    <%=model.productApplicantsDeniedPercentage %>% who applied were turned down.
				                    </p>
			                </div>
                            <div class="spacer"></div>	
		                </div>
	                </div>
                    <div class="article-footer-gray greyFooterDetailPad">
		                <!--<b class="bold">You may be charged more.</b>-->
                        <b><a href="javascript:void(0);" data-name="<%= model.planID %>_More-Charged" aria-describedby="<%= model.planID %>_More-Charged" class="contextualHelp" title="You may be charged more">
                            You may be charged more.</a></b><span id="<%= model.planID %>_More-Charged" class="HiddenText" aria-hidden="true"></span>
			                <%=model.productApplicantsUpRatedPercentage %>% received surcharged quotes.
	                </div>  
                </div>
                <table class="plan-detail-table" width="100%" role="presentation">
                
                    <tbody>                        
                        <tr class="darkBlueBackground boldWhiteText expandTable">
                            <td class=" bottomGreyBorder darkBlueBackground boldWhiteText" colspan="2">
                                <div class="darkerBlueBackground expandTablePad"></div>
                                <h3 class="expandText left">Plan Coverage</h3>
                                <div class="expcol-container right expandText">
                                    <a href="#" class="expcol-trigger boldWhiteText" onclick="funcExpCol(this.target);return false;" target="plan-plan-coverage" data-name="Plan Coverage" title="collapse"><span class='HiddenText'>Plan Coverage</span>Close <span aria-hidden="true">-</span></a>
                                </div>
                            </td>
                        </tr>

                        <tr class="plan-plan-coverage">
                            <td class=" tableRightSideText bottomGreyBorder"  colspan="<%= model.length %>">
                                <span class="tableRightSideText">
                                What is included in the in-network out-of-pocket limit? 
                                </span>      
                            </td>

                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <%= model.InNetworkCostSharing.annualOOPElementsText %>
                                </p>
                            </td>
                         </tr>

                         <tr class="plan-plan-coverage">
                            <td class=" tableRightSideText bottomGreyBorder" colspan="<%= model.length %>">
                                <span class="tableRightSideText ">
                                    Is this plan Health Savings Account (HSA) eligible?  
                                </span>
                            </td>

                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText ">
                                    <% if (model.hSAEligibleIndicator === "Yes") { %>
                                        <i class=" icon-circle_ok icon-green icon-tableCorrection" aria-hidden="true"></i>
                                    <% } else { %>
                                        <i class=" icon-circle_remove icon-red icon-tableCorrection" aria-hidden="true"></i>
                                    <% } %>
                                    <%= model.hSAEligibleIndicator%>
                                </p>
                            </td>
                        </tr>

                        <tr class="plan-plan-coverage">
                            <td class="tableRightSideText" colspan="<%= model.length %>">
                                <span class="tableRightSideText">
                                    How can I find a doctor in this plan's network?
                                </span>
                            </td>
                        
                            <td class="tableLeftSideText">
                                <div class="tableLeftSideText">
                                    <% if (model.ProviderURL.uRLCode == "Valid"){ %>
                                    <div class="externalLink">
                                    <a id="check_for_doc" class="blue noDecoration bold" href="<%= model.ProviderURL.uRLAddress %>" target="_blank" title="Check for your doctor">
                                            Check for your Doctor
                                    </a>
                                    </div>
                                    <div>
                                    <a href="http://www.cms.gov/goodbye.asp" target="_blank" class="print-hide" title="External Link Policy">
                                        <i class="icon-new_window new-window-i" aria-hidden="true"><span class="HiddenText">External Web Site Policy - opens in a new window</span></i>
                                    </a>
                                    </div>
                                            <%} else { model.ProviderURL.alternateText } %>
                                </div>
                            </td>
                        </tr>
                        <tr class="darkBlueBackground boldWhiteText expandTable">
                            <td class=" bottomGreyBorder darkBlueBackground boldWhiteText" colspan="2">
                                <div class="darkerBlueBackground expandTablePad"></div>
                                <h3 class="expandText left">If you are sick and go to the doctor's office or need other services?</h3>
                                <div class="expcol-container right expandText">
                                    <a href="#" class="expcol-trigger boldWhiteText" onclick="funcExpCol(this.target);return false;" target="planCommonMedical" data-name="If you are sick and go to the doctor's office or need other services?" title="collapse"><span class='HiddenText'>If you are sick and go to the doctor's office or need other services?</span>Close <span aria-hidden="true">-</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="planCommonMedical">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    Primary care physician office visit</span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <%= model.PrimaryCareVisit %>
                                </p>
                            </td>
                        </tr>
                        <tr class="planCommonMedical">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    Specialist physician office visit</span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <%= model.SpecialistVisit %></p>
                            </td>
                        </tr>
                        <tr class="planCommonMedical">
                            <td class="tableRightSideText">
                                <span class="tableRightSideText">
                                    Diagnostic test (X- ray, blood work)</span>
                            </td>
                            <td class="tableLeftSideText ">
                                <p class="tableLeftSideText">
                                    <%= model.DiagnosticTest %></p>
                            </td>
                        </tr>

                        <tr class="darkBlueBackground boldWhiteText expandTable">
                            <td class=" bottomGreyBorder darkBlueBackground boldWhiteText" colspan="2">
                                <div class="darkerBlueBackground expandTablePad"></div>
                                <h3 class="expandText left">If you need minor surgery?</h3>
                                <div class="expcol-container right expandText">
                                    <a href="#" class="expcol-trigger boldWhiteText" onclick="funcExpCol(this.target);return false;" target="planMinorSurgery" data-name="If you need minor surgery?" title="collapse"><span class='HiddenText'>If you need minor surgery?</span>Close <span aria-hidden="true">-</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="planMinorSurgery">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    Outpatient Facility Fee</span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                        <%= model.OutpatientFacilityFee %></p>
                            </td>
                        </tr>
                        <tr class="planMinorSurgery">
                            <td class="tableRightSideText ">
                                <span class="tableRightSideText">
                                    Specialist physician office visit</span>
                            </td>
                            <td class="tableLeftSideText ">
                                <p class="tableLeftSideText">
                                    <%= model.OutpatientPhysicianFee %></p>
                            </td>
                        </tr>

                        <tr class="darkBlueBackground boldWhiteText expandTable">
                            <td class=" bottomGreyBorder darkBlueBackground boldWhiteText" colspan="2">
                                <div class="darkerBlueBackground expandTablePad"></div>
                                <h3 class="expandText left">If you stay overnight in the hospital?</h3>
                                <div class="expcol-container right expandText">
                                    <a href="#" class="expcol-trigger boldWhiteText" onclick="funcExpCol(this.target);return false;" target="planOvernightHospital" data-name="If you stay overnight in the hospital?" title="collapse"><span class='HiddenText'>If you stay overnight in the hospital?</span>Close <span aria-hidden="true">-</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="planOvernightHospital">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    Hospital facility fee</span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <%= model.HospitalFacilityFee %></p>
                            </td>
                        </tr>
                        <tr class="planOvernightHospital">
                            <td class="tableRightSideText ">
                                <span class="tableRightSideText">
                                    Hospital physician/surgeon office visit</span>
                            </td>
                            <td class="tableLeftSideText ">
                                <p class="tableLeftSideText">
                                    <%= model.HospitalPhysicianFee %></p>
                            </td>
                        </tr>

                        <tr class="darkBlueBackground boldWhiteText expandTable">
                            <td class=" bottomGreyBorder darkBlueBackground boldWhiteText" colspan="2">
                                <div class="darkerBlueBackground expandTablePad"></div>
                                <h3 class="expandText left">If you have an Emergency?</h3>
                                <div class="expcol-container right expandText">
                                    <a href="#" class="expcol-trigger boldWhiteText" onclick="funcExpCol(this.target);return false;" target="planEmergency" data-name="If you have an Emergency?" title="collapse"><span class='HiddenText'>If you have an Emergency?</span>Close <span aria-hidden="true">-</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="planEmergency">
                            <td class="tableRightSideText ">
                                <span class="tableRightSideText">
                                    Emergency Room</span>
                            </td>
                            <td class="tableLeftSideText ">
                                <p class="tableLeftSideText">
                                    <%= model.EmergencyRoom %></p>
                            </td>
                        </tr>
                       
                        <tr class="darkBlueBackground boldWhiteText expandTable">
                            <td class=" bottomGreyBorder darkBlueBackground boldWhiteText" colspan="2">
                                <div class="darkerBlueBackground expandTablePad"></div>
                                <h3 class="expandText left"><a href="javascript:void(0);" data-name="Prescription-Drugs" aria-describedby="Prescription-Drugs" class="contextualHelp ctx-help-bluebar" title="" data-original-title="If you need drugs to treat your illness or condition?">
                                    If you need drugs to treat your illness or condition?
                                    </a></h3><span id="Prescription-Drugs" class="HiddenText" aria-hidden="true"></span>
                                <div class="expcol-container right expandText">
                                    <a href="#" class="expcol-trigger boldWhiteText" onclick="funcExpCol(this.target);return false;" target="planPharmacy" data-name="If you need drugs to treat your illness or condition?" title="collapse"><span class='HiddenText'>If you need drugs to treat your illness or condition?</span>Close <span aria-hidden="true">-</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="planPharmacy">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    <a href="javascript:void(0);" data-name="<%= model.planID %>_Generic-Drugs" aria-describedby="<%= model.planID %>_Generic-Drugs" class="contextualHelp noDecoration dashed" title="Generic drugs">
                                    Generic drugs<span id="<%= model.planID %>_Generic-Drugs" class="HiddenText" aria-hidden="true"></span>
                                    </a>
                                    <span class="normalWeight"> (Purchase from Pharmacy)</span>
                                </span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <% if (!model.genericDrugs || 0 === model.genericDrugs.length) { %>
                                    Not Covered
                                    <% } else { %>
                                    <%= model.genericDrugs %>
                                    <% } %>
                                </p>
                            </td>
                        </tr >
                        <tr class="planPharmacy">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    <a href="javascript:void(0);" data-name="<%= model.planID %>_Brand-Drugs" aria-describedby="<%= model.planID %>_Brand-Drugs" class="contextualHelp noDecoration dashed" title="Preferred Brand Drugs">
                                    Preferred Brand Drugs</a><span id="<%= model.planID %>_Brand-Drugs" class="HiddenText" aria-hidden="true"></span>
                                    <span class="normalWeight"> (Purchase from Pharmacy)</span>
                                </span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <% if (!model.peferredBrandDrugs || 0 === model.peferredBrandDrugs.length) { %>
                                    Not Covered
                                    <% } else { %>
                                    <%= model.peferredBrandDrugs %>
                                    <% } %>
                                </p>
                            </td>
                        </tr>
                        <tr class="planPharmacy">
                            <td class="tableRightSideText ">
                                <span class="tableRightSideText">
                                    <a href="javascript:void(0);" data-name="<%= model.planID %>_Non-formulary-Drugs"  aria-describedby="<%= model.planID %>_Non-formulary-Drugs" class="contextualHelp noDecoration dashed" title="Specialty drugs">
                                    Specialty drugs<span id="<%= model.planID %>_Non-formulary-Drugs" class="HiddenText" aria-hidden="true"></span>
                                    </a>
                                    <span class="normalWeight"> (Purchase from Pharmacy)</span>
                                </span>
                            </td>
                            <td class="tableLeftSideText">
                                <p class="tableLeftSideText">
                                    <% if (!model.specialtyDrugs || 0 === model.specialtyDrugs.length) { %>
                                    Not Covered
                                    <% } else { %>
                                    <%= model.specialtyDrugs %>
                                    <% } %>
                                </p>
                            </td>
                        </tr>

                        <tr class="darkBlueBackground boldWhiteText expandTable">
                            <td class=" bottomGreyBorder darkBlueBackground boldWhiteText" colspan="2">
                                <div class="darkerBlueBackground expandTablePad"></div>
                                <h3 class="expandText left">What drugs are covered in the formulary?</h3>
                                <div class="expcol-container right expandText">
                                    <a href="#" class="expcol-trigger boldWhiteText" onclick="funcExpCol(this.target);return false;" target="planCoveredDrugs" data-name="What drugs are covered in the formulary?" title="collapse"><span class='HiddenText'>What drugs are covered in the formulary?</span>Close <span aria-hidden="true">-</span></a>
                                </div>
                            </td>
                        </tr>  

                        <tr class="planCoveredDrugs">
                            <td class="tableRightSideText ">
                                <span class="tableRightSideText ">
                                    Drugs covered in <a href="javascript:void(0);" data-name="<%= model.planID %>_Formulary" aria-describedby="<%= model.planID %>_Formulary" class="contextualHelp noDecoration dashed " title="formulary">
                                    formulary<span id="<%= model.planID %>_Formulary" class="HiddenText" aria-hidden="true"></span>
                                    </a>
                                </span>
                            </td>
                                       
                            <td class="tableLeftSideText ">
                                <div class="tableLeftSideText">
                                    <%if (model.ProductFormularyURL.uRLCode === "Valid" && model.ProductFormularyURL.uRLAddress !== "#" ){ %>
                                    <div class="externalLink">
                                    <a id="check_the_formulary1" class="tableTextBold noDecoration" href="<%= model.ProductFormularyURL.uRLAddress %>" 
                                    target="_blank" title="Check the Formulary">Check the Formulary              
                                    </a>
                                    </div>
                                    <div>
                                    <a href="http://www.cms.gov/goodbye.asp" target="_blank" class="print-hide" title="External Link Policy">
                                    <i class="icon-new_window new-window-i" aria-hidden="true"><span class="HiddenText">External Web Site Policy - opens in a new window</span></i></a>
                                    </div>
                                    <%}else{ %>
                                    <%= model.ProductFormularyURL.alternateText%>
                                    <%} %>
                                    </div>
                            </td>
                        </tr>
                        <tr class="darkBlueBackground boldWhiteText expandTable">
                            <td class=" bottomGreyBorder darkBlueBackground boldWhiteText" colspan="2">
                                <div class="darkerBlueBackground expandTablePad"></div>
                                <h3 class="expandText left">If you have mental health or substance abuse needs?</h3>
                                <div class="expcol-container right expandText">
                                    <a href="#" class="expcol-trigger boldWhiteText" onclick="funcExpCol(this.target);return false;" target="planMentalHealth" data-name="If you have mental health or substance abuse needs?" title="collapse"><span class='HiddenText'>If you have mental health or substance abuse needs?</span>Close <span aria-hidden="true">-</span></a>
                                </div>
                            </td>
                        </tr>  

                        <tr class="planMentalHealth">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    Mental/behavioral health outpatient services</span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <%= model.MentalOutpatient%></p>
                            </td>
                        </tr>
                        <tr class="planMentalHealth">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    Mental/behavioral health inpatient services</span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <%= model.MentalInpatient%></p>
                            </td>
                        </tr>
                        <tr class="planMentalHealth">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    Substance use disorder outpatient services</span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <%= model.SubstanceDisorderOutpatient%></p>
                            </td>
                        </tr>
                        <tr class="planMentalHealth">
                            <td class="tableRightSideText">
                                <span class="tableRightSideText">
                                    Substance use disorder inpatient services</span>
                            </td>
                            <td class="tableLeftSideText ">
                                <p class="tableLeftSideText">
                                    <%= model.SubstanceDisorderInpatient%></p>
                            </td>
                        </tr>

                        <tr class="darkBlueBackground boldWhiteText expandTable">
                            <td class=" bottomGreyBorder darkBlueBackground boldWhiteText" colspan="2">
                                <div class="darkerBlueBackground expandTablePad"></div>
                                <h3 class="expandText left">If you become pregnant?</h3>
                                <div class="expcol-container right expandText">
                                    <a href="#" class="expcol-trigger boldWhiteText" onclick="funcExpCol(this.target);return false;" target="planPregnant" data-name="If you become pregnant?" title="collapse"><span class='HiddenText'>If you become pregnant?</span>Close <span aria-hidden="true">-</span></a>
                                </div>
                            </td>
                        </tr>     

                        <tr class="planPregnant">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    Prenatal postnatal care</span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <%= model.PrenatalPostnatalCare%></p>
                            </td>
                        </tr>
                        <tr class="planPregnant">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    Delivery and all inpatient services for maternity care</span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <p class="tableLeftSideText">
                                    <%= model.DeliveryInpatient%></p>
                            </td>
                        </tr>
                        <tr class="planPregnant">
                            <td class="tableRightSideText">
                                <span class="tableRightSideText">
                                    Plan Brochure</span>
                            </td>
                            <td class="tableLeftSideText">
                                <div class="tableLeftSideText">
                                    <%if (model.PlanBrochureURL.uRLCode === "Valid" && model.PlanBrochureURL.uRLAddress !== "#" ){ %>
                                    <div class="externalLink">
                                    <a id="read_brochure" class="tableTextBold noDecoration  bold" href="<%=model.PlanBrochureURL.uRLAddress %>" onclick="_gaq.push(['_trackEvent', 'outbound', 'click', '<%=model.PlanBrochureURL.uRLAddress %>']);" target="_blank" title="Link to plan brochure">Possible link to Brochure</a>
                                    </div>
                                    <div>
                                    <a href="http://www.cms.gov/goodbye.asp" target="_blank" class="print-hide" title="External Link Policy">
                                    <i class="icon-new_window new-window-i" aria-hidden="true"><span class="HiddenText">External Web Site Policy - opens in a new window</span></i></a>
                                    </div>
                                     <%}else{ %>
                                    <%= model.PlanBrochureURL.alternateText%>
                                    <%} %>
                                </div>
                            </td>
                        </tr>
                             
                        <tr class="darkBlueBackground boldWhiteText expandTable">
                            <td class=" bottomGreyBorder darkBlueBackground boldWhiteText" colspan="2">
                                <div class="darkerBlueBackground expandTablePad"></div>
                                <h3 class="expandText left">Benefits</h3>
                                <div class="expcol-container right expandText">
                                    <a href="#" class="expcol-trigger boldWhiteText" onclick="funcExpCol(this.target);return false;" target="planSummary" data-name="Benefits" title="collapse"><span class='HiddenText'>Benefits</span>Close <span aria-hidden="true">-</span></a>
                                </div>
                            </td>
                        </tr>     


                        <tr class="planSummary">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    <a href="javascript:void(0);" data-name="<%= model.planID %>_Included-Benefits" aria-describedby="<%= model.planID %>_Included-Benefits" class="contextualHelp noDecoration dashed" title="Included Benefits">
                                    Included Benefits
                                    </a></span><span id="<%= model.planID %>_Included-Benefits" class="HiddenText" aria-hidden="true"></span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <% if(model.includedBenfits.length >0){%>
                                <p>
                                <ul>
                                    <% _.each(model.includedBenfits, function(val, i) { %>
                                        <li class="tableText"><%= model.includedBenfits[i] %></li>
                                    <%});%>
                                </ul>
                                </p>
                                <%}%>
                            </td>
                        </tr>
                        <tr class="planSummary">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    <a href="javascript:void(0);" data-name="<%= model.planID %>_Excluded-Benefits" aria-describedby="<%= model.planID %>_Excluded-Benefits" class="contextualHelp noDecoration dashed" title="Excluded Benefits">
                                    Excluded Benefits
                                    </a></span><span id="<%= model.planID %>_Excluded-Benefits" class="HiddenText" aria-hidden="true"></span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                <% if(model.excludedBenfits.length >0){%>
                                <p>
                                <ul>
                                    <% _.each(model.excludedBenfits, function(val, i) { %>
                                        <li class="tableText"><%= model.excludedBenfits[i] %></li>
                                    <%});%>
                                </ul>
                                </p>
                                <%}%>
                            </td>
                        </tr>
                        <tr class="planSummary">
                            <td class="tableRightSideText bottomGreyBorder">
                                <span class="tableRightSideText">
                                    <a href="javascript:void(0);" data-name="<%= model.planID %>_Limited-Benefits" aria-describedby="<%= model.planID %>_Limited-Benefits" class="contextualHelp noDecoration dashed" title="Limited Benefits">
                                    Limited Benefits
                                    </a></span><span id="<%= model.planID %>_Limited-Benefits" class="HiddenText" aria-hidden="true"></span>
                            </td>
                            <td class="tableLeftSideText bottomGreyBorder">
                                    <% if(model.limitedBenfits.length >0){%>
                                    <p>
                                <ul>
                                    <% _.each(model.limitedBenfits, function(val, i) { %>
                                        <li class="tableText"><%= model.limitedBenfits[i] %></li>
                                    <%});%>
                                </ul>
                                </p>
                                <%}%>
                            </td>
                        </tr>
                        <tr class="planSummary">
                            <td class="tableRightSideText">
                                <span class="tableRightSideText">
                                    <a href="javascript:void(0);" data-name="<%= model.planID %>_Benefit-Available-for-Purchase" aria-describedby="<%= model.planID %>_Benefit-Available-for-Purchase" class="contextualHelp noDecoration dashed" title="Benefits Available for Purchase at Additional Cost">
                                    Benefits Available for Purchase at Additional Cost
                                    </a></span><span id="<%= model.planID %>_Benefit-Available-for-Purchase" class="HiddenText" aria-hidden="true"></span>
                            </td>
                            <td class="tableLeftSideText">
                                <% if(model.additionalBenfits.length >0){%>
                                <ul>
                                    <% _.each(model.additionalBenfits, function(val, i) { %>
                                        <li class="tableText"><%= model.additionalBenfits[i] %></li>
                                    <%});%>
                                </ul>
                                <%}%>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--Second Table (closed)-->
            </div>
        </div>
        <div class="detailBottom">
                        
        </div>
    </div>
                
</div>
        
    <!-- end blueContainer-->

